# Arquivos de compilação Java
*.class

# Arquivos gerados pelo Maven
target/

# Arquivos gerados pelo Gradle
build/
.gradle/

# Arquivos de configuração específicos do Eclipse
.settings/

# Arquivos de configuração específicos do IntelliJ IDEA
.idea/

# Logs e arquivos temporários
*.log
*.tmp

# Arquivos de saída de build específicos do Maven
mvnw
mvnw.cmd

.metadata/*
.metadata/

# Eclipse
.metadata/
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath

# VS Code
.vscode/
.classpath
.project
.settings
*.class
*.jar
*.war
*.ear
*.log
*.iml
*.ipr
*.iws
.idea/
/target/
*.code-workspace
*.code-workspace-shm
*.code-workspace-wal
